.container {
	width:100%;
	min-height: 100vh;
}

.header-login {
	width: 50%;
	margin: 0 auto;
	min-height: 100vh;
}

.fab  {
	height: 50px;
}

.size {
	color: rgb(103, 207, 255);
}

textarea {
	resize: none;
	width: 70%;
	height:60px;
	margin-bottom: 30px;
	text-align: left;
	font-size: 13px;
	color: rgb(224, 220, 220);
}

#size {
	width: 70%;
	height:60px;
	margin-bottom:  30px;
	text-align: left;
	color: rgb(224, 220, 220);
	font-size: 20px;
}

#login {
	width: 70%;
	height: 40px;
	background-color: rgb(103,207,255);
	color: #fff;
	border: 1px solid rgb(103,207,255);
	border-radius: 10px;
	text-align: center;
}